# You can get the dataset from here 
https://www.kaggle.com/datasets/nikitagrec/world-capitals-gps

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('concap.csv')

In [4]:
df.head()

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
0,Somaliland,Hargeisa,9.550000,44.050000,NaN,Africa
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS,Antarctica
2,French Southern and Antarctic Lands,Port-aux-Français,-49.350000,70.216667,TF,Antarctica
3,Palestine,Jerusalem,31.766667,35.233333,PS,Asia
4,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe

In [6]:
df[df.CountryName=='Algeria']

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
11,Algeria,Algiers,36.75,3.05,DZ,Africa

In [7]:
df.columns

Index(['CountryName', 'CapitalName', 'CapitalLatitude', 'CapitalLongitude',
       'CountryCode', 'ContinentName'],
      dtype='object')